* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
	color: #17202A;
}
ul {
	list-style-type: none;
}
html, body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #17202A;
	width: 100%;
	height: 100%;
	background-color: #E7EAE0;
	position: relative;
	z-index: -2;
}
.container {
	position: relative;
	z-index: 0;
}
/* Header */
.header {
	background-image: url("../images/header-banner.jpg");
	overflow: hidden;
	box-shadow: 4px 4px 20px gray;
}
.logo {
	width: 100px;
	height: 100px;
	float: left;
}
.logo img {	width: 100%;
	height: 100%;
}
.navigator {
	float: left;
	margin-top: 24px;
	outline: none;
	overflow: hidden;
}
.navigator span {
	display: inline-block;
	padding: 10px;
	text-align: center;
	min-width: 120px;
}
.navigator a {
	font-weight: 600;
	text-transform: uppercase;
}
.navigator a:last-child {
	border-bottom: 2px solid #17202A;
}
.navigator span {
	border-radius: 5px;
}
.navigator span:hover {
	border: 2px;
	color: white;
	background-color: #F72B3F;
	box-shadow: 2px 2px 5px gray;
}
.cart {
	width: 40px;
	height: 40px;
	margin: -55px 0 15px 100px;;
}
.cart img {
	width: 100%;
	height: 100%;
}
.search-bar {
	margin: 80px 0 15px 150px;
}
.box input {
	box-sizing: content-box;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 370px;	
    border-radius: 75px;
	opacity: 0.9;
}
input[type=search]:focus {
	outline: none;
    background-color: #FFF;
	border-color: #F72B3F;
	opacity: 1;
	box-shadow: 2px 2px 5px gray;
}
/* Content */
.content {
	position: relative;
	z-index: -1;
	height: 100%;
	margin: 50px;
}
/*Content left side*/
.content .left-side {
	width: 50%;
}
.item-wrapper {
	width: 270px;
	height: 270px;
	float: left;
	box-shadow: 2px 2px 5px gray;
}
.item-wrapper img {
	width: 100%;
	height: 100%;
}
.detail {
	display: inline-block;
	margin-left: 30px;
	line-height: 30px;
}
.rating {
	display: inline-block;
}
.detail > p {
	float: left;
	display: flex;
}
.rating {
	margin-left: 1em;;
}
.promo {
	text-decoration: line-through;
	color: #85929E;
	float: left;
}
.discount {
	margin: 0;
	width: 70px;
}
.d-wrapper {
	width: 25px;
	height: 25px;
	float: left;
	margin-right: 5px;
}
.d-wrapper img {
	width: 100%;
	height: 100%;
}
.d-ratio {
	padding-left: 5px;
	color: #F72B3F;
	font-weight: 600;
	line-height: 25px;
}
.promo-price {
	color: #F72B3F;
	font-weight: 550;
	font-size: 18px;
	font-weight: 550;
}
.features {
	float: left;
}

.content .right-side {
	width: 50%;
	float: flex;
}
.fa-check-circle {
	color: green;
	margin-right: 5px;
}
.fa-star {
	color: #F1C40F;
}
.order {
	margin-top: 15px;
	clear: both;
}
.detail > h2 {
	margin-top: 10px;
}
.o-size > p {
	margin-bottom: 5px;
}
.o-size .size-select button {
	display: inline-block;
	width: 40px;
	background-color: #F72B3F;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
}
.o-size .size-select button:hover {
	box-shadow: 2px 2px 5px gray;
}
.o-size .size-select button:focus {
	box-shadow: 2px 2px 5px gray;
	border: 2px solid #263859;
}
.o-amount {
	margin-bottom: 15px;
}
.o-amount > p {
	margin-bottom: 5px;
}
.o-amount select {
	-webkit-appearance: button;
    -moz-appearance: button;
	-webkit-user-select: none;
    -moz-user-select: none;
	background-color: #F72B3F;
	outline: none;
    border-radius: 5px;
    color: #fff;
    margin: 0;
    overflow: hidden;
	padding: 5px;
	width: 40px;
	text-align: center;
}
.o-amount select:focus {
	box-shadow: 2px 2px 5px gray;
}
.buy {
	margin-top: 30px;
}
.buy button {
	display: inline-block;
	width: 217px;
	background-color: #F72B3F;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	margin-bottom: 40px;
}
.buy button:hover {
	box-shadow: 2px 2px 5px gray;
}
.buy button:focus {
	box-shadow: 2px 2px 5px gray;
	border: 2px solid #263859;
}
/*Content right side*/
.left-side {
	float: left;
}
.side-bar {
	float: left;
	margin-right: 200px !important;
}
.right-side {
	float: right;
	position: relative;
}
.content .side-bar {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -3px;
	border-left: 1px solid gray;
	height: 475px;
}
.s-wrapper {
	width: 150px;
	height: 150px;
}
.s-wrapper img {
	width: 100%;
	height: 100%;
}
.suggested > h3 {
	margin: 15px 0 20px 0;
}
.suggested {
	position: relative;
	padding-left: 25%;
	overflow: hidden;
}
.img-grid div {
	padding: 0 20px 20px 0;
}
.s-wrapper{
	margin-bottom: -10px;
}
.sg-detail {
	float: left;
}
.sg-detail:nth-child(3) {
	clear: left
}
.product {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.price {
	font-size: 14px;
}
.space {
	height: 200px;
}


/* Footer */
.footer {
	position: relative;
	bottom: 0;
	background-image: url("../images/header-banner.jpg");
	overflow: hidden;
	height: 50px;
	width: 100%;
	box-shadow: 4px 4px 20px gray;
}
.copyright {
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
}



